body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

/* category styles */
.category{
    border: 1px solid lightgray;
    background-color: rgb(50, 50, 74);
    border-radius: 5px;
    padding: 8px;
    box-shadow: 1px 1px 5px 0px lightgray;
}
.Electronics{
    display: flex;
    justify-content: center;
}
.Electronics img:hover{
   border: 2px solid white;
}
.Fashion{
    display: flex;
    justify-content: center;
}
.Furniture{
    display: flex;
    justify-content: center;
}
.kitchen{
    display: flex;
    justify-content: center;
}
.category-prod-div{
    width: 300px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 15px;
}
.category-prod-des{
    font-size: smaller;
    font-weight: 100;
}
.Electronics span{
    text-align: center;
    color: white;
    font-size: large;
    font-weight: 600;
}
.Electronics img{
    box-shadow: 0px 0px 1px 3px  lightgray;
}
.category-name{
    color: red;
}

/* header styles */
.navbar-container{
    background-color: rgb(41, 41, 65);
}
.search-box{
    width: 700px;
}
.nav-menu{
    color: orange !important;
}
.navbar-nav .nav-item .active{
    color: white;
    stroke:white;
}


/* footer styles */
.footer-sty{
    background-color: rgb(11, 11, 36);
  }
  .footer-link{
      text-decoration: none;
      color: white;
    }
    .footer-link:hover{
      text-decoration: 1px underline;
    }

/* oofer section styles */
.offer-div{
    width: 350px;
    gap: 20px;
    /* border: 1px solid lightgray; */
    padding: 8px;
    border-radius: 5px;
}

/* reccommended items styles */
.recommendedItems{
    overflow-y: auto;
}
.RI-div{
    padding: 8px;
    border:1px solid rgb(187, 185, 185);
    width:200;
}
.RI-div span{
    text-align: center;
}
.recommended-price{
    font-size: smaller;
}

/* todays deals */
.TodaysDeals{
    border: 1px solid lightgray;
    padding: 5px;
}
.TodaysDeals-div{
    margin: 3px;
    /* background-color: lightgray; */
}
.off-text{
    background-color: red;
}


/* cart loading screen */
:root {
	--hue: 223;
	--bg: hsl(var(--hue),10%,90%);
	--fg: hsl(var(--hue),10%,10%);
	--primary: hsl(var(--hue),90%,55%);
	--trans-dur: 0.3s;
}
.preloader {
    display: flex;
    flex-direction: column;
    justify-content: center;
	text-align: center;
	min-height: 60vh;
}
.preloader__text {
	position: relative;
	height: 1.5em;
}
.preloader__msg {
	animation: msg 0.3s 13.7s linear forwards;
	position: absolute;
	width: 100%;
}
.cart {
	display: block;
	margin: 0 auto 1.5em auto;
	width: 8em;
	height: 8em;
}
.cart__lines,
.cart__top,
.cart__wheel1,
.cart__wheel2,
.cart__wheel-stroke {
	animation: cartLines 2s ease-in-out infinite;
}
.cart__lines {
	stroke: var(--primary);
}
.cart__top {
	animation-name: cartTop;
}
.cart__wheel1 {
	animation-name: cartWheel1;
	transform: rotate(-0.25turn);
	transform-origin: 43px 111px;
}
.cart__wheel2 {
	animation-name: cartWheel2;
	transform: rotate(0.25turn);
	transform-origin: 102px 111px;
}
.cart__wheel-stroke {
	animation-name: cartWheelStroke
}
.cart__track {
	stroke: hsla(var(--hue),10%,10%,0.1);
	transition: stroke var(--trans-dur);
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),10%,10%);
		--fg: hsl(var(--hue),10%,90%);
	}
	.cart__track {
		stroke: hsla(var(--hue),10%,90%,0.1);
	}
}

/* Animations */
@keyframes msg {
	from {
		opacity: 1;
		visibility: visible;
	}
	99.9% {
		opacity: 0;
		visibility: visible;
	}
	to {
		opacity: 0;
		visibility: hidden;
	}
}
@keyframes cartLines {
	from,
	to {
		opacity: 0;
	}
	8%,
	92% {
		opacity: 1;
	}
}
@keyframes cartTop {
	from {
		stroke-dashoffset: -338;
	}
	50% {
		stroke-dashoffset: 0;
	}
	to {
		stroke-dashoffset: 338;
	}
}
@keyframes cartWheel1 {
	from {
		transform: rotate(-0.25turn);
	}
	to {
		transform: rotate(2.75turn);
	}
}
@keyframes cartWheel2 {
	from {
		transform: rotate(0.25turn);
	}
	to {
		transform: rotate(3.25turn);
	}
}
@keyframes cartWheelStroke {
	from,
	to {
		stroke-dashoffset: 81.68;
	}
	50% {
		stroke-dashoffset: 40.84;
	}
}

/* product card */
.prod-container{
    width: 315px;
    height: 380px;
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0px 0px 35px -12px gray;
}
.prod-container:hover{
    border: 4px solid white;
}

/* product card */
.prodDetail-container{
    box-shadow: 0px 0px 80px -20px #DCDCDC;
    padding: 20px;
    border-radius: 10px;
}
.delivery{
    font-size: small;
    font-weight: 600;
}
.delivery img{
    width: 50px;
}
.cod{
    font-size: small;
    font-weight: 600;
}