.prod-container{
    width: 315px;
    height: 365px;
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0px 0px 35px -12px gray;
}
.prod-container:hover{
    border: 4px solid white;
}